<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en">
    <title>New transmission</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <script type="text/javascript" src="../../../js/checkNameField.js">
    </script>
</head>
<body>
<nav class="menu">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/profile">My profile</a></li>
        <li sec:authorize="anonymous"><a href="/login">Login</a></li>
        <li sec:authorize="authenticated"><a href="/logout">Logout</a></li>
        <li sec:authorize="anonymous"><a sec:authorize="anonymous" href="/registration">Registration</a></li>
    </ul>
</nav>
<div>
    <H2>Add new transmission</H2>
    <form class="form-horizontal" th:object="${object}" th:action="@{/admin/transmissions/add}" method="post">
        <input type="hidden" class="form-control" th:field="*{id}"/>
        <table>
            <tr>
                <td th:text="${success}">Success</td>
            </tr>
            <tr>
                <td>new transmission:</td>
                <td><input type="text" th:field="*{name}" onblur="trim(this)"/></td>
                <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
            </tr>
            <tr>
                <td><button type="submit">Confirm</button></td>
                <td> <a href="/admin/transmissions">to list</a></td>
            </tr>
        </table>

    </form>
</div>
</body>
</html>